<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Numbers on charts</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
  <%= javascript_include_tag "highcharts" %>
</head>

<body>
    <div>
    <h2>Reference Material</h2>
    <%= link_to "highchart docs", 'http://www.highcharts.com/ref/' %> |
    <%= link_to "demo", 'http://www.highcharts.com/ref/' %>    
    </div>
    
    
    <h2>Charts</h2>
    <%= link_to "time series", :controller => 'graphs', :action => 'time_series' %> |
    <%= link_to "area time series", :controller => 'graphs', :action => 'area_time_series' %> |
    <%= link_to "bar chart", :controller => 'graphs', :action => 'bar_chart' %> |
    <%= link_to "pie chart", :controller => 'graphs', :action => 'pie_chart' %> |
    <%= link_to "area spline", :controller => 'graphs', :action => 'area_spline' %> |
    <%= link_to "two charts", :controller => 'graphs', :action => 'two_charts' %> |

    <div>
    <%= yield %>
    </div>
    
</body>

</html>